
body{
  margin: auto;
}
.button-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make sure it spans the entire button */
  height: 100%; /* Make sure it spans the entire button */
}

.clockloader {
  --clock-width: 20px; /* Adjust the clock size as needed */
  --clock-radius: calc(var(--clock-width) / 2);
  --clock-minute-length: calc(var(--clock-width) * 0.4);
  --clock-hour-length: calc(var(--clock-width) * 0.2);
  --clock-thickness: 0.2rem;

  position: relative;
  width: var(--clock-width);
  height: var(--clock-width);
  border: 3px solid #ffffff;
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: #ffffff;
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: spin infinite linear;
  }

  &::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
  }

  &::after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.borderotp{
  border-radius: 10px; /* ใส่ค่าที่ต้องการสำหรับความโค้งมน */
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 200px;
  height: auto;
  background:
    linear-gradient(to right, #84BAA1 4px, transparent 4px) 0 0,
    linear-gradient(to right, #84BAA1 4px, transparent 4px) 0 100%,
    linear-gradient(to left, #84BAA1 4px, transparent 4px) 100% 0,
    linear-gradient(to left, #84BAA1 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, #84BAA1 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, #84BAA1 4px, transparent 4px) 100% 0,
    linear-gradient(to top, #84BAA1 4px, transparent 4px) 0 100%,
    linear-gradient(to top, #84BAA1 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 40px 40px;
}